In [54]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import silhouette_score, fowlkes_mallows_score,adjusted_rand_score,adjusted_mutual_info_score

数据集的表头

In [2]:
headers = [
    'sepal length',
    'sepal width',
    'petal length',
    'petal width',
    'class'
]

In [5]:
train_data = pd.read_csv('data/bezdekIris.data',header=None)
test_data = pd.read_csv('data/iris.data',header=None)
print(train_data.shape,test_data.shape)

(150, 5) (150, 5)

In [6]:
x = train_data == test_data

In [7]:
total_false_count = (x==False).sum().sum()
print(total_false_count)

3

因为train_data和test_data不同的值只有三个，结合网站说明，这里只使用iris.data这个数据集  
同时对种类进行编码

In [8]:
data = pd.read_csv('data/iris.data',header=None)
data.columns = headers
class_map = {'Iris-setosa':0,'Iris-versicolor':1,'Iris-virginica':2}
data['class'] = data['class'].map(class_map)
data

     sepal length  sepal width  petal length  petal width  class
0             5.1          3.5           1.4          0.2      0
1             4.9          3.0           1.4          0.2      0
2             4.7          3.2           1.3          0.2      0
3             4.6          3.1           1.5          0.2      0
4             5.0          3.6           1.4          0.2      0
..            ...          ...           ...          ...    ...
145           6.7          3.0           5.2          2.3      2
146           6.3          2.5           5.0          1.9      2
147           6.5          3.0           5.2          2.0      2
148           6.2          3.4           5.4          2.3      2
149           5.9          3.0           5.1          1.8      2

[150 rows x 5 columns]

sepal length: 花萼长度  
sepal width: 花萼宽度  
petal length: 花瓣长度  
sepal width: 花瓣宽度  
class: 花的种类

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    float64
 4   class         150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [38]:
X = data[['sepal length','petal length']].to_numpy().astype(np.float64)
X_mean = np.mean(X,axis=0)
X_std = np.std(X,axis=0)
X = (X-X_mean)/X_std
y = data['class'].to_numpy().astype(np.float64)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1234)

In [39]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((105, 2), (45, 2), (105,), (45,))

In [ ]:
def kmeans(X,k,epoches=100):
    n_samples,n_features = X.shape
    u = X[np.random.choice(n_samples,k,replace=False)]
    for epoch in range(epoches):
        d = np.linalg.norm(X[:,np.newaxis]-u, axis=2)
        if d.mean() < 1e-5:
            break
        labels = np.argmin(d, axis=1)
        for i in range(k):
            u[i] = np.mean(X[labels==i],axis=0) 
    return u,labels
def predict(X,u):
    d = np.linalg.norm(X[:,np.newaxis]-u, axis=2)
    labels = np.argmin(d,axis=1)
    return labels

In [49]:
u,labels = kmeans(X_train,2)

In [50]:
u

array([[-0.98255135, -1.19833969],
       [ 0.56758832,  0.7025479 ]])

In [51]:
y_pred = predict(X_test,u)

In [ ]:
print('k-means:')
silhouette_avg = silhouette_score(X_test, y_pred)
print(f'Silhouette Coefficient: {silhouette_avg}')

fmi = fowlkes_mallows_score(y_test, y_pred)
print(f'Fowlkes-Mallows Score: {fmi}')

ari = adjusted_rand_score(y_test, y_pred)
print(f'Adjusted Rand Index: {ari}')

ami = adjusted_mutual_info_score(y_test, y_pred)
print(f'Adjusted Mutual Information: {ami}')

k-means:
Silhouette Coefficient: 0.6348374421594546
Fowlkes-Mallows Score: 0.7006308517777626
Adjusted Rand Index: 0.47915562117146143
Adjusted Mutual Information: 0.5592843365804594